# Week 1 Reading & Exploring Data: Exercise 1.2

## 1) Load the dataset

***Instructions)***

Load the dataset as a Pandas data frame.

***Answer)***

In [6]:
import pandas as pd

# reading the data
df_vgs = pd.read_csv('C:/Users/ivan2/gitLocal/DSC550-WINTER2023/Video_Games_Sales_as_at_22_Dec_2016.csv')
df_vgs.head

<bound method NDFrame.head of                                 Name Platform  Year_of_Release         Genre  \
0                         Wii Sports      Wii           2006.0        Sports
1                  Super Mario Bros.      NES           1985.0      Platform
2                     Mario Kart Wii      Wii           2008.0        Racing
3                  Wii Sports Resort      Wii           2009.0        Sports
4           Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
...                              ...      ...              ...           ...
16714  Samurai Warriors: Sanada Maru      PS3           2016.0        Action
16715               LMA Manager 2007     X360           2006.0        Sports
16716        Haitaka no Psychedelica      PSV           2016.0     Adventure
16717               Spirits & Spells      GBA           2003.0      Platform
16718            Winning Post 8 2016      PSV           2016.0    Simulation

          Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0          Nintendo     41.36     28.96      3.77         8.45         82.53
1          Nintendo     29.08      3.58      6.81         0.77         40.24
2          Nintendo     15.68     12.76      3.79         3.29         35.52
3          Nintendo     15.61     10.93      3.28         2.95         32.77
4          Nintendo     11.27      8.89     10.22         1.00         31.37
...             ...       ...       ...       ...          ...           ...
16714    Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16715   Codemasters      0.00      0.01      0.00         0.00          0.01
16716  Idea Factory      0.00      0.00      0.01         0.00          0.01
16717       Wanadoo      0.01      0.00      0.00         0.00          0.01
16718    Tecmo Koei      0.00      0.00      0.01         0.00          0.01

       Critic_Score  Critic_Count User_Score  User_Count Developer Rating
0              76.0          51.0          8       322.0  Nintendo      E
1               NaN           NaN        NaN         NaN       NaN    NaN
2              82.0          73.0        8.3       709.0  Nintendo      E
3              80.0          73.0          8       192.0  Nintendo      E
4               NaN           NaN        NaN         NaN       NaN    NaN
...             ...           ...        ...         ...       ...    ...
16714           NaN           NaN        NaN         NaN       NaN    NaN
16715           NaN           NaN        NaN         NaN       NaN    NaN
16716           NaN           NaN        NaN         NaN       NaN    NaN
16717           NaN           NaN        NaN         NaN       NaN    NaN
16718           NaN           NaN        NaN         NaN       NaN    NaN

[16719 rows x 16 columns]>

In [4]:
data_types = df_vgs.dtypes

print(data_types)

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

## 2) Display 10 Rows

***Instructions)***

Display the first ten rows of data.

***Answer)***

In [7]:
df_vgs.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

## 3) Data Frame Dimensions

***Instructions)***

Find the dimensions (number of rows and columns) in the data frame. What do these two numbers represent in the context of the data?

***Answer)***

In [38]:
dimensions = df_vgs.shape
dimensions

(16719, 17)

The code above provides the dimensions for the data frame. There are 16,719 rows and 16 columns in the data frame. **Note:** After conducting step 8, there will be 17 columns in the data frame.

## 4) Top 5 Critic Games

***Instructions)***

Find the top five games by critic score.

***Answer)***

In [39]:
# Sorting the DataFrame by Critic_Score in descending order and showing the top 5 entries
top_five_games_by_critic_score = df_vgs.sort_values(by='Critic_Score', ascending=False).head(5)
top_five_games_by_critic_score[['Name', 'Critic_Score', 'Platform']]

                          Name  Critic_Score Platform
227   Tony Hawk's Pro Skater 2          98.0       PS
57         Grand Theft Auto IV          98.0      PS3
51         Grand Theft Auto IV          98.0     X360
5350               SoulCalibur          98.0       DC
165         Grand Theft Auto V          97.0     XOne

## 5) Video Game Counts per Genre

***Instructions)***

Find the number of video games in the data frame in each genre.

***Answer)***

In [13]:
# Counting the number of video games in each genre
genre_counts = df_vgs['Genre'].value_counts()
genre_counts

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64

## 6) First 5 SNES Games

***Instructions)***

Find the first five games in the data frame on the SNES platform.

***Answer)***

This questions is a little vague and not clear if "first five games" refers to year of release, by Row ID, or by another variablee.

Below are two code chunks, each looking at different interpretations of this quesiton:
- The first code cunk looks at the first 5 entries of SNES games by Row ID.
- The second code chunk looks at the fist 5 entries of SNES games based on Year of Release

In [14]:
# Filtering the DataFrame for to only the SNES platform and selecting the first five entries based on Row ID
snes_games = df_vgs[df_vgs['Platform'] == 'SNES'].head(5)
snes_games

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
56,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55,NaN,NaN,NaN,NaN,NaN,NaN
71,Donkey Kong Country,SNES,1994.0,Platform,Nintendo,4.36,1.71,3.00,0.23,9.30,NaN,NaN,NaN,NaN,NaN,NaN
76,Super Mario Kart,SNES,1992.0,Racing,Nintendo,3.54,1.24,3.81,0.18,8.76,NaN,NaN,NaN,NaN,NaN,NaN
137,Street Fighter II: The World Warrior,SNES,1992.0,Fighting,Capcom,2.47,0.83,2.87,0.12,6.30,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Filtering the DataFrame for to only the SNES platform then sorting by 'Year_of_Release' from oldest to newest
snes_games_sorted = df_vgs[df_vgs['Platform'] == 'SNES'].sort_values(by='Year_of_Release').head(5)
snes_games_sorted

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
1195,Final Fight,SNES,1990.0,Action,Capcom,0.67,0.17,0.69,0.03,1.56,NaN,NaN,NaN,NaN,NaN,NaN
511,F-Zero,SNES,1990.0,Racing,Nintendo,1.37,0.51,0.89,0.07,2.85,NaN,NaN,NaN,NaN,NaN,NaN
1791,Pilotwings,SNES,1990.0,Simulation,Nintendo,0.46,0.17,0.48,0.02,1.14,NaN,NaN,NaN,NaN,NaN,NaN
1111,Super Scope 6,SNES,1991.0,Shooter,Nintendo,1.06,0.38,0.15,0.05,1.65,NaN,NaN,NaN,NaN,NaN,NaN

## 7) Top 5 Publishers with Total Global Sales

***Instructions)***

Find the five publishers with the highest total global sales. **Note:** You will need to calculate the total global sales for each publisher to do this.

***Answer)***

In [22]:
# Grouping each publisher and summing Global Sales, then selecting the top 5
top_publishers_by_global_sales = df_vgs.groupby('Publisher')['Global_Sales'].sum().sort_values(ascending=False).head(5)
top_publishers_by_global_sales

Publisher
Nintendo                       1788.81
Electronic Arts                1116.96
Activision                      731.16
Sony Computer Entertainment     606.48
Ubisoft                         471.61
Name: Global_Sales, dtype: float64

## 8) Creating a new calculated field (Column)

***Instructions)***

Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.

***Answer)***

In [24]:
# Creating a new column for the percentage of global sales from North America
df_vgs['NA_Sales_Percentage'] = (df_vgs['NA_Sales'] / df_vgs['Global_Sales']) * 100

# Displaying the first five rows of the updated DataFrame
updated_df_vgs = df_vgs.head(5)
updated_df_vgs[['Name', 'NA_Sales', 'Global_Sales', 'NA_Sales_Percentage']]

                       Name  NA_Sales  Global_Sales  NA_Sales_Percentage
0                Wii Sports     41.36         82.53            50.115110
1         Super Mario Bros.     29.08         40.24            72.266402
2            Mario Kart Wii     15.68         35.52            44.144144
3         Wii Sports Resort     15.61         32.77            47.635032
4  Pokemon Red/Pokemon Blue     11.27         31.37            35.926044

## 9) Find NaN entries per column

***Instructions)***

Find the number NaN entries (missing data values) in each column.

***Answer)***

In [28]:
nan_counts = df_vgs.isna().sum()
nan_counts

Name                      2
Platform                  0
Year_of_Release         269
Genre                     2
Publisher                54
NA_Sales                  0
EU_Sales                  0
JP_Sales                  0
Other_Sales               0
Global_Sales              0
Critic_Score           8582
Critic_Count           8582
User_Score             6704
User_Count             9129
Developer              6623
Rating                 6769
NA_Sales_Percentage       0
dtype: int64

## 10) Calculating Median User Scores

***Instructions)***

Try to calculate the median user score of all the video games. 

You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. 
- Find and replace this string with NaN and then calculate the median. 
- Then, replace all NaN entries in the user score column with the median value.

***Answer)***

In [29]:
# Counting the number of 'tbd' string values in the 'User_Score' column
tbd_count = (df_vgs['User_Score'] == 'tbd').sum()
tbd_count

# These values will need to be replaced with Null Values

2425

In [30]:
# Replacing 'tbd' values with NaN in the 'User_Score' column
df_vgs['User_Score'].replace('tbd', float('nan'), inplace=True)

# Converting 'User_Score' from object to float data type
df_vgs['User_Score'] = df_vgs['User_Score'].astype(float)

In [31]:
# Calculating the median user score after replacing 'tbd' with NaN
median_user_score = df_vgs['User_Score'].median()
median_user_score

7.5

In [35]:
# Replacing all NaN values in the 'User_Score' column with the median value
df_vgs['User_Score'].fillna(median_user_score, inplace=True)


# Verifying the replacement
remaining_nan_count = df_vgs['User_Score'].isna().sum()
remaining_nan_count, df_vgs.head()  # Displaying the first few rows for verification

(0,
                        Name Platform  Year_of_Release         Genre Publisher  \
 0                Wii Sports      Wii           2006.0        Sports  Nintendo
 1         Super Mario Bros.      NES           1985.0      Platform  Nintendo
 2            Mario Kart Wii      Wii           2008.0        Racing  Nintendo
 3         Wii Sports Resort      Wii           2009.0        Sports  Nintendo
 4  Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing  Nintendo

    NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  Critic_Score  \
 0     41.36     28.96      3.77         8.45         82.53          76.0
 1     29.08      3.58      6.81         0.77         40.24           NaN
 2     15.68     12.76      3.79         3.29         35.52          82.0
 3     15.61     10.93      3.28         2.95         32.77          80.0
 4     11.27      8.89     10.22         1.00         31.37           NaN

    Critic_Count  User_Score  User_Count Developer Rating  NA_Sales_Percentage
 0          51.0         8.0       322.0  Nintendo      E            50.115110
 1           NaN         7.5         NaN       NaN    NaN            72.266402
 2          73.0         8.3       709.0  Nintendo      E            44.144144
 3          73.0         8.0       192.0  Nintendo      E            47.635032
 4           NaN         7.5         NaN       NaN    NaN            35.926044  )